.App {
  text-align: center;
}


.MainDiv {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  text-align: left;
  padding-left:25px;
  padding-top: 10px;
  color:#00A36C;
  }
.Project{
  text-align: center;
}

.titleOfProject{
  color:#00A36C;
}

.description{
  
  color:#00A36C;
}

.videoContainer{
  margin: auto;
  text-align: center;
  border-radius: 25px;
  width: 852px;
  height: 480px;
  border-style: solid;
  color:green;
  background-color: #ffffff;
}

